body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

#chat {
    width: 550px;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}

#messages {
    max-height: 300px;
    overflow-y: auto;
    margin: 10px 0;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    width: 100%;
}

#messageInput {
    width: calc(100% - 235px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    outline: none;
}

#sendButton {
    width: 85px;
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

#sendButton:hover {
    background-color: #0056b3;
}

#locationButton {
    background-color: #28a745;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
  margin-left: 5px;
}

#locationButton:hover {
    background-color: #218838;
}


.message {
    padding: 5px 10px;
    margin-bottom: 5px;
    border-radius: 5px;
}

.user-message {
    background-color: #007bff;
    color: #fff;
    align-self: flex-end;
}

.server-message {
    background-color: #28a745;
    color: #fff;
    align-self: flex-start;
}

a {
    color: #fff;
}